{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>email</th>
            <th>role</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>

                <td>
                    {% for role in user.roles %}
                        {{ role }}

                    {% endfor %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
